@import "tailwindcss";

@theme {
  --color-primary: #d97757;
  --color-bg: #faf9f5;
  --color-border: #e8e6dc;
  --color-text-dark: #141413;
  --color-text-muted: #6b6a63;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-dark);
}